.body{
    padding: 10px;
    font-size: 14px;
}

.inputwrapper{
    position: relative;
    display: flex;
    width: 100vw;
    flex-direction: column;
    padding-left: 2.5rem;
}

.inputBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.inputBox span{
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.input{
    position: relative;
    border-radius: 10px;
    outline: 1px solid grey;
}


.input input{
    border: 0px;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    font-size: 16px;
}

@media screen and (min-width: 460px) and (max-width: 860px){
    .input{
        width: 80vw;
    }
}