body{
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    height: auto;
    background-color: rgb(41, 39, 39);
    box-sizing: border-box;
    color: white;
}

::-webkit-scrollbar{
    width: 0px;
}

.header{
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100vw;
    height: 2.5rem;
    background-color: black;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.usericon{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
}

.header nav li{
    list-style: none;
    color: white;
}

.body{
    background-color: rgb(41, 39, 39);
    height: auto;
    width: 100vw;
    position: relative;
    top: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.leftbody{
    background: black;
    height: 100vh;
    width: calc(100vw - 80vw);
}

.mainbody{
    height: auto;
    width: calc(45vw);
    padding: 5px;
    background-color: black;
    color: white;
}

.rightbody{
    height: 100vh;
    width: calc(100vw - 45vw - 20vw);
    background-color: black;
}

.bottomNav{
    display: none;
}


/**
 FROM 480PX DOWN-WARD
*/
@media screen and (max-width: 480px){
    .leftbody{
        display: none;
    }
    .rightbody{
        display: none;
    }

    .mainbody{
        width: 100vw;
        height:auto 100vh;
        padding-bottom: 2.7rem;
        display: block;
        color: white;
    }

    .bottomNav{
        display: block;
    }
}

/*
  FOR TABLETS
*/
@media screen and (min-width: 480px) and (max-width: 864px){
    .leftbody{
        position: fixed;
        left: 0px;
        bottom: 0px;
        top: calc(2.5rem);
        height: 100vh;
        width: 20vw;
        z-index: 20;
    }

    .rightbody{
        display: none;
    }
    
    .mainbody{
        position: absolute;
        right: 0px;
        width: calc(80vw - 5px);
        height: auto;
        margin-left: 5px;
    }
}