.header{
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100vw;
    height: 2.5rem;
    background-color: black;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.usericon{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
}

.header nav li{
    list-style: none;
}

.messageListWrapper{
    margin-top: 2.5rem;
    padding-top: 10px;
}