*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    color: white;
    font-size: 24px;
}

.wrapper{
    background-color: rgb(54, 42, 42);
    height: 100vh;
    overflow-y: scroll;
}

.wrapper .header{
    background: rgb(70, 67, 67);
    height: 150px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 1px solid white;
}

.icon{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header p{
    font-size: 14px;
}

.header p:last-child{
    font-style: italic;
}

.body{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.body ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}


.body ul li{
    padding-bottom: 10px;
}

.footer{
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 5px;
}

.footer p{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}