.navSection{
    position: relative;
    min-height: 100vh;
    max-height: auto;
    background: black;
    min-width: 50vw;
    max-width: 70vw;
    box-sizing: border-box;
}

.navHeader{
    position: relative;
    width: 100%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    box-sizing: border-box;
    border: 0px;
    border-bottom: 1px solid white;
}

.navHeader div{
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
}

.navHeader div span {
    word-break: break-all;
    word-wrap: break-word;
    color: white;
}

.navHeader div span:first-child{
    font-weight: bold;
}

.navHeader div span:last-child{
    font-style: italic;
}


.navList{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 10px;
    box-sizing: border-box;
}

.navList ul li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    color: white;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.navList ul li span {
    margin-left: 5px;
}