body{
    position: relative;
    background: white;
    color: black;
}

section{
    position: relative;
    width: 100vw;
    height: 100vh auto;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 3rem;
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header ul span{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    margin-left: 10px;
}

.content{
    position: relative;
    left: 0px;
    right: 0px;
    top: 3.5rem;
}

.postinput{
    width: 100%;
    height: auto;
    border: 0px;
    outline: 0px;
}

.postinput::placeholder{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 5px;
    margin: 0px;
}