.body{
    position: relative;
    background: white;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 2.5rem;
}


@media screen and (max-width:480px){
    .messageList{
        position: relative;
        margin-top: 1rem;
    }
}